@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  --primary: #5f6FFF;
}

::-webkit-scrollbar {
  @apply  hidden;
}

*{
  font-family: Outfit;
}